#Settings {
    position: relative;
    top: -7em;
    left: -10em;
    overflow-y: auto; 
    max-height: 450px; 
    overflow-x: hidden;
}

#Settings h1 {
    margin-bottom:0.5em;
}

#Settings li {
    margin-bottom:1em;
}

#Settings li:hover {
    background-color: #101b33;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border-radius:10px;
}

#Settings li:active {
    transform: scale(0.95);
}

#Settings img {
    width:1em;
    height:1em;
    margin-right:0.3em;
}

@media screen and (max-width: 800px) and (orientation: portrait){
    #Settings {
        position:relative;
        width: 30%;
        height:10%;
        top:-35rem;
        left:1em;
        font-size:0.5em;
    }

    #Settings li {
        width: 50%;
        height:10%;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #Settings {
        position:relative;
        width: 20%;
        height:10%;
        top:-16rem;
        left:-4rem;
        font-size:0.7em;
    }

    #Settings li {
        width: 80%;
        height:10%;
    }
}
