.formForgotPass input {
    padding-left:2em;
}

.formForgotPass button {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
}

.formForgotPass button:hover {
    background-color: #f0f0f0;
}

.formForgotPass button:active {
    transform: scale(0.95);
}

.mailIcon {
    color:black;
    position:relative;
    left:1.5em;
    top:0.1em;
}