.forgotPasswordPageMain {
    height:100vh;
}

.formForgotPass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 6px;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 5%;
    width: 30%;
    max-width: 300px;
}

.formForgotPass img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 1em;
    transform: translate(25%);
}

.formForgotPass input {
    width: 75%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    border: solid 2px #a0a0a0;
    padding-left:2.5em;
}

.formForgotPass button {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
}

.formForgotPass button:hover {
    background-color: #f0f0f0;
}

.formForgotPass button:active {
    transform: scale(0.95);
}

.mailIcon {
    color:black;
    position:relative;
    left:1.5em;
    top:0.1em;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .formForgotPass {
        width: 90%;
    }

    .formForgotPass img {
        width: 40%;
        transform: translate(75%);
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .formForgotPass {
        width: 30%;
        height: 70%;
    }

    .formForgotPass img {
        width: 70%;
    }

    .formForgotPass button {
        transform: translate(5%);
    }
}