.aboutUs {
    height:95vh;
    overflow-y: auto;
}

.aboutUs .aboutUsh2{
    width:90%;
    text-align: center;
    font-size:4rem;
    margin:0 auto;
    border-bottom: solid 1px grey;
}
.aboutUs section
{
    width: 50%;
    margin: 0 auto;
}

.aboutUs p {
    text-align: justify;
    margin-top:0.5em;
    position:relative;
    margin-bottom:1em;
}

.aboutUs ul {
    margin-bottom:1em;
}

.aboutUs li {
    list-style-type: none;
    margin-bottom:0.5em;
}