.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.videoSettingsForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgba(229, 229, 229, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    padding: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 25%;
    z-index: 2;
    max-height: 90vh;
    overflow-y: auto;
}

.videoSettingsForm::-webkit-scrollbar {
    width: 0.2em;
}

.videoSettingsForm::-webkit-scrollbar-track {
    background: rgba(229, 229, 229, 0.8);
}

.videoSettingsForm::-webkit-scrollbar-thumb {
    background: #888;
}

.videoSettingsForm::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.videoSettingsForm .settingsInfo {
    width: 90%;
}

.videoSettingsForm .videoSettingsFormCloseIcon {
    position: absolute;
    top: 0.5em;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.videoSettingsForm .videoSettingsFormCloseIcon:hover {
    color: #555;
}

.videoSettingsForm .videoSettingsFormCloseIcon:active {
    transform: scale(0.80);
}

.videoSettingsForm .inputGroup {
    display: flex;
    flex-direction: column;
    position: relative; /* Add this to position the icon relative to this container */
    margin-bottom: 1em;
    width: 100%;
}

.videoSettingsForm input {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: black;
    font-size: 1em;
    padding-left: 2.5em;
}

.videoSettingsForm textarea {
    width: 100%;
    height: 2.5em;
    margin-bottom: 1em;
    padding-left: 2.5em;
    padding-top: 1em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: black;
    font-size: 1em;
    resize: none;
}

.videoSettingsForm .actionButton {
    align-self: flex-end;
    width: 40%;
    min-width: 12em;
    height: 2.5em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    text-align: center;
    border: solid 2px #a0a0a0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.videoSettingsForm button:disabled {
    background-color: #ccc;
    box-shadow: none;
    color: black;
    cursor: default;
}

.videoSettingsForm button:hover:not(:disabled) {
    background-color: #f0f0f0;
}

.videoSettingsForm button:active:not(:disabled) {
    transform: scale(0.95);
}

.videoSettingsForm input[type="file"] {
    width: 70%;
    position: relative;
    left: 10%;
    padding-left: 2em;
}

.videoSettingsForm input[type="file"]::file-selector-button {
    content: "Select file";
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.videoSettingsForm input[type="file"]:hover::file-selector-button {
    background-color: #f0f0f0;
}

.videoSettingsForm input[type="file"]:active::file-selector-button {
    transform: scale(0.95);
}

.videoSettingsForm .videoSettingsFormIcon {
    color: black;
    position: absolute;
    left: 0.5em;
    transform: translateY(100%); /* Center the icon vertically */
}

.videoSettingsForm .visibilityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.videoSettingsForm select {
    width: 50%;
    height: 2.5em;
    margin-bottom: 1em;
    border: solid 2px #a0a0a0;
}

.videoSettingsForm .selectButton {
    width: 40%;
    min-width: 12em;
    height: 2.5em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    text-align: center;
    border: solid 2px #a0a0a0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    margin-bottom:1em;
}

.videoSettingsForm .removeButton {
    width: 40%;
    min-width: 12em;
    height: 2.5em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    text-align: center;
    border: solid 2px red;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    margin-bottom:1em;
    margin-top:1em;
}

.videoSettingsForm .thumbnailButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em; 
    margin-bottom: 1em; 
}

.videoSettingsForm .thumbnailButton {
    width: auto;
    min-width: 12em;
    height: 2.5em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    text-align: center;
    border: solid 2px #a0a0a0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    margin: 0 0.5em;
}

.videoSettingsForm .thumbnailPreview {
    width: 13em;
    height: 8em;
    display: block;
    margin: auto;
    margin-bottom:2em;
    border-radius: 4px;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .videoSettingsForm {
        width: 100%;
        padding: 6%;
    }

    .videoSettingsForm .videoSettingsFormCloseIcon {
        left: 95%;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .videoSettingsForm {
        width: 100%;
        overflow-y: auto;
    }

    .videoSettingsForm .videoSettingsFormCloseIcon {
        left: 100%;
    }

    .videoSettingsForm button {
        width: auto;
    }
}
