.commentDiv {
    max-width: 80%;
    position: relative;
    top: 5%;
    padding-bottom: 10em;
}

.commentDiv h2 {
    margin-bottom: 2em;
}

.commentDiv p {
    font-size: 0.8em;
}

.commentDiv .dateComm {
    font-size: 0.8em;
    color: grey;
    margin-bottom: 0.5em;
}

.commentContainer {
    padding: 2.5%;
    position: relative;
    width: 100%;
}

.image_holder img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}

.image_holder {
    left: -1em;
    width: 4em;
    height: 4em;
    position: relative;
}

.profile_picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.border {
    border-radius: 0;
    width: 3.2em;
    height: 3.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.commentContainer .commentTextareaContainer {
    margin-top: 5em;
    margin-left: 5em;
    width: 90%;
}

.commentTextareaContainer {
    position: relative;
    padding-top: 1em;
    width: 100%;
}

.commentTextarea {
    width: 100%;
    color: white;
    resize: none;
    outline: none;
    border: none;
    transition: border-bottom 0.3s ease-in-out;
    overflow-wrap: break-word;
}

.commentTextareaContainer button {
    color: white;
    border: none !important;
    background-color: transparent !important;
    padding: none !important;
}

.commentTextarea:focus {
    outline: none;
}

.commentTextarea[contentEditable="true"]:empty:not(:focus):before {
    content: attr(data-text);
    color: #999;
}

.commentTextareaContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.commentTextareaContainer:focus-within::after {
    width: 100%;
    left: 0;
}

.commentDiv button {
    width: 15%;
    height: 2.5em;
    font-size: 0.8em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px white;
    background-color: white;
    border-radius: 15px;
}

.commentDiv .cancelButton {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: 700;
    font-size: 16px;
}
.commentDiv .acceptButton {
    font-size: 16px;
    color: #00de13;
    font-weight: 700;
}

.commentDiv .replyButton {
    border: none;
    color: black;
    font-weight: 700;
    margin-top: 2em;
    transition: background-color 0.3s ease-in-out, color 0.3s linear,
        text-decoration 0.3 linear;
}
.replyButtonsContainer {
    display: flex;
    gap: 1em;
}

.replyButtonsContainer button {
    width: 10%;
}

.commentDiv .replyButton:hover {
    background-color: transparent !important;
    color: white;
    text-decoration: underline;
}

.commentDiv .cancelButton:hover {
    background-color: transparent;
}

.commentDiv button:hover {
    background-color: #d6d2d2;
}

.commentDiv button:active {
    transform: scale(0.95);
}

.replyContainer {
    margin-left: 5em;
    margin-top: 3em;
    padding-top: 2em;
}

.replyContainer .commentTextarea {
    font-size: 0.8em;
    width: 100%;
    color: white;
    resize: none;
    outline: none;
    border: none;
    transition: border-bottom 0.3s ease-in-out;
    overflow-wrap: break-word;
}

.isClick {
    color: red !important;
}

.commMenu {
    position: absolute;
    top: 1em;
    right: 0;
    font-size: 1.5em;
    cursor: pointer;
    width: 2em;
}

.buttonsContainer {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: -1.5em;
    top: 6em;
    z-index: 999;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
}

.buttonsContainerVisible {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
}

.buttonsContainer button {
    display: block;
    text-align: center;

    width: 8em;

    height: auto;
    padding: 0.8em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: none;
    background-color: white;

    text-align: left;
    border-bottom: 1px solid lightgrey;
    border-radius:0;

}

.buttonsContainer a {
    text-decoration: none;
}

.buttonsContainer button:hover {
    background-color: #f0f0f0;
}

.buttonsContainer button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    .commentDiv button {
        width: 30%;
    }

    .commentContainer .replyButton {
        width: 30%;
        font-size: 0.7em;
        margin-right: 1em;
    }

    .commentDiv {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    .commentDiv button {
        width: 30%;
    }

    .commentContainer .replyButton {
        width: 20%;
        margin-right: 1em;
    }
}
