header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
}

header img {
    width: 3rem;
    height: 3rem;
}

#register {
    position: absolute;
    left: 10%;
    top: 0;
}

#login {
    position: absolute;
    left: 10%;
    top: 5%;
}
