header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color:orange;
}

header img {
    width: 3rem;
    height: 3rem;
    top:5%;
}

#imgLogo
{
    position:relative;
    left:1em;
    top:10%;
}

#imgIcon
{
    position:relative;
    right:1em;
    top:10%;
}

#menu {
    list-style: none;
    position: absolute;
    right: 6rem;
    top:-1em;
    transform: translateY(-50%);
    z-index: 2;
}

#menu li {
    margin-bottom:-1.7em;
}

#menu button {
    position: relative;
    width:5em;
    height:2em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: none;
    background-color: white;
}

#register {
    top: 1em;
}

#login {
    top: 3em;
}

#logout {
    top: 5em;
}

#login:hover, #register:hover, #logout:hover {
    background-color: #F0F0F0;
}

#login:active, #register:active, #logout:active {
    transform: scale(0.95);
}

@media screen and (max-width: 800px) and (orientation: portrait){
    #menu button {
        left:2em;
        position: relative;
        width:5.5em;
        height:2em;
        transition: background-color 0.3s ease, transform 0.1s ease;
        border: none;
        background-color: white;
    }

    #imgLogo {
        position:relative;
        left:1em;
        top:10%;
        width:2em;
        height:2em;
    }

    #imgIcon {
        position:relative;
        right:1em;
        top:10%;
        width:2em;
        height:2em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #menu button {
        left:2em;
        position: relative;
        width:5.5em;
        height:2em;
        transition: background-color 0.3s ease, transform 0.1s ease;
        border: none;
        background-color: white;
    }

    #imgLogo {
        position:relative;
        left:1em;
        top:10%;
        width:1.5em;
        height:1.5em;
    }

    #imgIcon {
        position:relative;
        right:1em;
        top:10%;
        width:1.5em;
        height:1.5em;
    }

}
