.settingsDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 6px;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 3%;
    padding-top: 1%;
    width: 30%;
    max-width: 300px;
}

.userInfoForm h3{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: black;
    font-weight: 600;
}

.userInfoForm {
    position:relative;
    top:-10%;
}

.userInfoForm .label {
    font-weight: 600;
}

.userInfoForm p{
    color:black;
    font-size:1em;
    margin-bottom: 1em;
    margin-left:1em;
}

.userInfoForm .userAvatar {
    height:4em;
    width:4em;
    position:relative;
    left:35%;
    border-radius: 50%;
    overflow: hidden;
}

.settingsDiv input {
    width: 90%;
    height: 2.5em;
    margin: 0 auto;
    padding-left: 0.5em;
    border: solid 2px #a0a0a0;
    border-radius:5px;
}

.settingsDiv button {
    width: 50%;
    height: 2.5em;
    border-radius:10px;
    margin: 0 auto;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: rgb(54, 83, 243);
    color:white;
}

form .selectedAvatar {
    height:4em;
    width:4em;
    margin-bottom:1em;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
    left:15%;
}

.settingsDiv .avatarButton {
    display:block;
}

.settingsDiv .clearAvatarButton {
    position: absolute;
    height:2em;
    width: 5%;
    left:51%;
    bottom:20%;
    background-color: white;
    color:black;
}

.settingsDiv .clearAvatarButton:hover {
    background-color:#f0f0f0;
}

.settingsDiv .clearAvatarButton:active {
    transform: scale(0.95);
}

.settingsDiv button:hover {
    background-color: rgb(43, 73, 245);
}

.settingsDiv button:active {
    transform: scale(0.95);
}

.avatarInput[type="file"] {
    border: none;
    color:black;
    margin-bottom:1em;
}

.avatarInput[type="file"]::file-selector-button {
    content: "Select file";
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.avatarInput[type="file"]:hover::file-selector-button {
    background-color:#f0f0f0;
}

.avatarInput[type="file"]:active::file-selector-button {
    transform: scale(0.95);
}

.avatarSettings p {
    color:black;
    text-align: center;
    margin-bottom:1em;
}
