.accountSettingsPage {
    height: 95vh;
}

.settingsDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.divFormContainer {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgba(229, 229, 229, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    padding: 2%;
    width: 25%;
    z-index: 2;
    max-height: 85vh;
    overflow-y: auto;
}

.divFormContainer::-webkit-scrollbar {
    width: 0.2em;
}

.divFormContainer::-webkit-scrollbar-track {
    background: rgba(229, 229, 229, 0.8);
}

.divFormContainer::-webkit-scrollbar-thumb {
    background: #888;
}

.divFormContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.settingsDiv .uploadFormCloseIcon {
    position: absolute;
    top: 0.5em;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.settingsDiv .uploadFormCloseIcon:hover {
    color: #555;
}

.settingsDiv .uploadFormCloseIcon:active {
    transform: scale(0.80);
}

.userInfoForm {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.userInfoForm h3 {
    font-size: 2em;
    margin-bottom: 1em;
    color: black;
    font-weight: 600;
}

.userInfoForm .label {
    font-weight: 600;
}

.userInfoForm p {
    color: black;
    font-size: 1em;
    margin-bottom: 1em;
}

.userInfoForm .userAvatar {
    width: 8.1em;
    height: 7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
}

.userInfoForm .avatarBorderContainer {
    width: 9em;
    height: 8em;
    position: relative;
    margin: 0 auto;
}

.userInfoForm .userBorder {
    border-radius: 0;
    width: 8.6em;
    height: 7.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.userInfoForm .ownedBorders {
    border-radius: 6px;
    width: 4em;
    height: 3em;
    cursor: pointer;
    margin-right:0.5em;
    padding:0.3em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
}

.userInfoForm .ownedBorders:hover {
    background-color: #d6d3d3;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.userInfoForm .ownedBorders:active {
    transform: scale(0.95);
}

.divFormContainer form {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.divFormContainer form input {
    width: 80%;
    height: 3em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: black;
    font-size: 1em;
}

.divFormContainer form button {
    width: auto;
    min-width: 12em;
    height: 2.5em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
    color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.divFormContainer form .floatingInput {
    width: 80%;
    height: 3em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: black;
    font-size: 1em;
    z-index: 999;
    padding-left: 0.5em;
}

.divFormContainer form .floatingInput::placeholder {
    transition: all 0.3s ease;
}

.divFormContainer form .floatingInput:focus::placeholder {
    color: #999;
    transform: translateX(-2.5em) translateY(-1em) scale(0.8);
}

.divFormContainer form .changeNickname,
.divFormContainer form .changePassword {
    float: right;
    margin-bottom:1em;
    margin-right: 3em;
}

.divFormContainer form .avatarButton {
    margin: 0 auto;
    margin-bottom: 2em;
}

.divFormContainer form .removeButton {
    border: solid 2px red;
}

.divFormContainer form .validationText {
    font-size:0.7em;
    color:red;
    margin-bottom:0.5em;
}

.settingsDiv button:hover:not(:disabled) {
    background-color: #f0f0f0;
}

.settingsDiv button:active:not(:disabled) {
    transform: scale(0.95);
}

.settingsDiv button:disabled {
    background-color: #ccc;
    box-shadow: none;
    color: black;
    cursor: default;
}

.avatarInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%; 
}

.avatarInput {
    display: none;
}

.customFileUpload {
    display: inline-block;
    background-color: white;
    color: black;
    margin-top:1em;
    margin-bottom:1em;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.customFileUpload:hover {
    background-color: #f0f0f0;
}

.customFileUpload:active {
    transform: scale(0.95);
}

.avatarSettings p {
    color: black;
    text-align: center;
    margin-bottom: 1em;
}

form .selectedAvatar {
    height: 4em;
    width: 4em;
    margin-bottom: 1em;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.settingsDiv .avatarButton {
    display: block;
}

.settingsDiv .clearAvatarButton {
    height: 2.5em;
    width: auto;
    min-width: 10em;
    background-color: white;
    color: black;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.settingsDiv .clearAvatarButton:hover {
    background-color: #f0f0f0;
}

.settingsDiv .clearAvatarButton:active {
    transform: scale(0.95);
}
