.settingsDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 6px;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 3%;
    width: 30%;
    max-width: 300px;
}

.userInfoForm h3{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: black;
}

.userInfoForm {
    position:relative;
    top:-10%;
}

.userInfoForm p{
    color:blue;
    font-size:1em;
    margin-bottom: 1em;
    margin-left:1em;
}

.settingsDiv input {
    width: 90%;
    height: 2.5em;
    margin: 0 auto;
    padding-left: 0.5em;
    border: solid 2px #a0a0a0;
}

.settingsDiv button {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
    display:block;
}

.settingsDiv button:hover {
    background-color: #f0f0f0;
}

.settingsDiv button:active {
    transform: scale(0.95);
}

.avatarInput[type="file"] {
    border: none;
    color:black;
    margin-bottom:1em;
}

.avatarInput[type="file"]::file-selector-button {
    content: "Select file";
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.avatarInput[type="file"]:hover::file-selector-button {
    content: "Select file";
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.avatarInput[type="file"]:active::file-selector-button {
    transform: scale(0.95);
}

form .selectedAvatar {
    width:9em;
    height:6em;
    transform: translate(55%);
    margin-bottom:1em;
}

.avatarSettings p {
    color:black;
    text-align: center;
    margin-bottom:1em;
}
