
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#14213D;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius:6px;
    background-color: rgba(229, 229, 229, .8);
    padding: 5px;
    width: 20%;
    /*box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .09);*/
}

form img {
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 25%;
}

form a {
    text-align: center;
    text-decoration: none;
    font-size:18px;
    margin-top: 0%;
    font-size:1em;
    padding-bottom:1em;
    color:#4949db;
}

form a:hover {
    text-decoration: underline;
    color:#7474e1;
}

form input {
    background-color: white;
    border: solid 2px #A0A0A0;
    border-radius: 4px;
    width: 70%;
    height: 2rem;
    font-size: 1em;
    margin-top: 5%;
    padding-left:2em;
}

form button {
    background-color: white;
    border: solid 2px #A0A0A0;
    border-radius:10px;
    align-self: center;
    width:50%;
    height: 2rem;
    font-size: 16px;
    margin-bottom: 5%;
    margin-top:5%;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
}

form button:hover {
    background-color: #F0F0F0;
}

form button:active {
    transform: scale(0.95);
}

.inputContainer {
    display: flex;
    align-items: center;
}

.logIcon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 8px; 
    left:12%;
    top:0.5em;
}



