#searchBarLoop {
    position: absolute; 
    display: inline-block; 
    top:2%;
    height:6%;
    transform: translateY(-10%); 
    left:40%;
}

#searchBar {
    width: 200%;
    height: 50%;
    top: 20%;
    left:-10%;
    border: solid 2px #A0A0A0;
    border-radius: 15px;
    padding-left: 2em;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    transform: translate(-20%, 20%);   
}

#searchLoop {
    height: 25%;
    width: 25%;
    position: relative; 
    left:100%;
    top:-15%;
    transform: translateX(125%);
    cursor:pointer;
}

@media screen and (max-width: 800px) and (orientation: portrait){
    #searchBar {
        width: 90%;
        height:20%;
    }

    #searchLoop {
        left:95%;
        top:1.6em;
        width:0.7em;
        height:0.7em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #searchBar {
        top:0.5em;
        left:-2em;
        width: 150%;
        height:30%;
    }

    #searchLoop {
        left:17.1em;
        top:1.1em;
        width:0.6em;
        height:0.6em;
    }
}