.searchBarLoop {
    display: flex;
    width: 100%;
    position: relative;
}

.searchBar {
    width: calc(
        100% - 40px
    ); /* Szerokość inputu z odejmowanym miejscem na ikonę */
    height: 40px; /* Stała wysokość */
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 3em;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    border: 2px solid #a0a0a0;
    transition: border-color 0.3s ease-in-out;
}

#searchContainer {
    width: 66%;
}

.searchItem {
    cursor: pointer;
    color: red;
    padding: 0.5em;
    list-style: none;
    border: 1px solid white;
}

.ulItem {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
    position: relative;
    z-index: 100;
    background: white;
    border: 1px solid #ccc;
}

.searchBar:focus {
    border-color: black;
}

.searchLoop {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    #searchBarLoop {
        top: 1%;
        left: 40%;
    }

    #searchBar {
        width: 80%;
        height: 25%;
        left: -5%;
    }

    #searchLoop {
        left: 70%;
        top: 37%;
        width: 0.7em;
        height: 0.7em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    #searchBar {
        top: 5%;
        left: -25%;
        width: 140%;
        height: 50%;
    }

    #searchLoop {
        left: 90%;
        top: 40%;
        height: 0.6em;
    }
}
