main::-webkit-scrollbar, .similarVideo::-webkit-scrollbar {
    width: 0.2em; 
}

main::-webkit-scrollbar-track, .similarVideo::-webkit-scrollbar-track {
    background: #f1f1f1;
}

main::-webkit-scrollbar-thumb, .similarVideo::-webkit-scrollbar-thumb {
    background: #888; 
}

main::-webkit-scrollbar-thumb:hover, .similarVideo::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.videoFrameDiv {
    position: relative;
    width: 70%;
    height: 60%;
    margin-top: 2.5%;
    margin-left: 5%;
}

.videoScreen {
    width: 100%;
    height: 40em;
}

.videoFrameInfo {
    position: relative;
    width: 100%;
    font-size: 0.5em;
}

.videoFrameInfo a {
    color: white;
}

.videoFrameInfoTitle {
    width: 80%;
}

.videoFrameInfoDesc {
    height: 10vh;
    width: 60%;
    word-wrap: break-word;
}

.videoFrameInfoDesc p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    font-size: 0.8rem;
}

.videoFrameInfoDesc .collapsed {
    white-space: normal;
}

.videoFrameInfoDesc button {
    display: block;
    margin-top: 5px;
    border: none;
    background-color: #14213d;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 1em;
}

.videoFrameInfoTitle p {
    font-size: 1.2rem;
}

.videoFrameOwner p, .videoFrameOwner .videoFrameOwnerAvatar, .videoFrameInfoViews {
    font-size: 0.9rem;
}

.videoFrameOwner {
    display: flex;
    align-items: center; 
}

.videoFrameOwnerAvatar {
    margin-right: 0.5em;
}

.videoLDContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    position:relative;
    top:1em;
}

.videoLDContainer p {
    margin: 0;
    font-size: 1.8em; 
}

.videoFrameButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float:right;
    gap: 1em; 
    width: 40%; 
    margin-top: 0;
    padding-top: 0; 
}

.videoFrameButtons .followButton {
    width: 50%;
    max-width: 10em;
    height: 2.5em;
    border-radius: 20px;
    margin-top: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    text-align: center;
    border: solid 2px #a0a0a0;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight:600;
}

.videoFrameButtons .followButton:hover {
    background-color: #f0f0f0;
}

.videoFrameButtons .followButton:active {
    transform: scale(0.95);
}

.videoFrameIcon {
    height: 3em;
    width: 3em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.videoFrameIcon:active {
    transform: scale(0.80);
}

.videoFrameIcon.like {
    color: green;
}

.videoFrameIcon.dislike {
    color: red;
}

.sharePopup {
    text-align: center;
}

.sharePopup p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sharePopup button {
    width: 15%;
    height: 1.5em;
    font-size: 0.8em;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
}

.sharePopup button:hover {
    background-color: #f0f0f0;
}

.sharePopup button:active {
    transform: scale(0.95);
}

.reportMenu {
    position: relative;
}

.reportMenu .buttonsContainer {
    position: absolute;
    top: 3em;
    right: -5em;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease, all 0.3s ease-in-out; 
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden; 
}

.buttonsContainer.menuVisible {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible; 
}

.buttonsContainer button {
    display: block;
    text-align: center;
    width: 8em;
    height: auto;
    padding: 0.8em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: none;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid lightgrey;
}

.buttonsContainer button:hover {
    background-color: #f0f0f0;
}

.buttonsContainer button:active {
    transform: scale(0.95);
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    .videoFrameDiv {
        position: relative;
        width: 85%;
        height: 20%;
        top: -35%;
        left: 10%;
    }

    .videoScreen {
        width: 100%;
        height: 100%;
        top: -10%;
    }

    .videoFrameInfo {
        position: relative;
        width: 100%;
        font-size: 0.4em;
    }

    .videoFrameDiv p {
        font-size: 0.5rem;
    }

    .videoFrameInfoTitle p {
        font-size: 0.8rem;
    }

    .videoLDContainer p {
        left: 7%;
        top: 1.5em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    .videoLDContainer p {
        left: 5%;
        top: 0.5em;
    }

    .videoFrameInfo {
        width: 90%;
    }

    .videoScreen {
        width: 90%;
        height: 90%;
        top: -15%;
    }
}
