.videoFrameDiv {
    position: relative;
    width: 70%;
    height: 80%;
    top: -5%;
}

.videoScreen {
    width: 80%;
    height: 100%;
    top: -10%;
}

.videoFrameInfo {
    position: relative;
    width: 80%;
    font-size: 0.5em;
}

.videoFrameInfoTitle {
    width: 80%;
}

.videoFrameInfoDesc {
    height: 10vh;
}

.videoLDContainer {
    width: 100%;
}

.videoLDContainer p {
    position: relative;
    float: right;
    font-size: 2em;
    margin-top: 3%;
    display: block;
    right: -3.5%;
    width: 2%;
}

.videoFrameIcon {
    position: relative;
    float: right;
    height: 3em;
    width: 3em;
    margin-left: 1em;
    cursor: pointer;
}

.videoFrameIconTD.like {
    color: green;
}

.videoFrameIconTD {
    position: relative;
    float: right;
    height: 3em;
    width: 3em;
    margin-left: 1em;
    transform: scaleX(-1);
    cursor: pointer;
}

.videoFrameIconTD.dislike {
    color: red;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    .videoFrameDiv {
        position: relative;
        width: 120%;
        height: 20%;
        top: -35%;
        left: 20%;
    }

    .videoScreen {
        width: 120%;
        height: 100%;
        top: -10%;
    }

    .videoFrameInfo {
        position: relative;
        width: 120%;
        font-size: 0.4em;
    }

    .videoFrameDiv p {
        position: relative;
        float: right;
        font-size: 1.5em;
        margin-top: 7%;
        display: block;
        right: -6%;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    .videoFrameDiv {
        position: relative;
        width: 70%;
        height: 80%;
    }

    .videoScreen {
        width: 90%;
        height: 90%;
        top: -15%;
    }

    .videoFrameInfo {
        position: relative;
        width: 90%;
        font-size: 0.4em;
    }

    .videoFrameDiv p {
        position: relative;
        float: right;
        font-size: 2em;
        margin-top: 5%;
        display: block;
        right: -4%;
    }
}
