.videoUploadPage {
    height:95vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.uploadForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 30%;
    max-width: 300px;
    z-index: 2;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.uploadForm::-webkit-scrollbar{
    width: 0.2em; 
}

.uploadForm::-webkit-scrollbar-track{
    background: rgba(229, 229, 229, 0.8);
}

.uploadForm::-webkit-scrollbar-thumb{
    background: #888; 
}

.uploadForm::-webkit-scrollbar-thumb:hover{
    background: #555;
}


.thumbnailInput[type="file"] {
    border: none;
}

.thumbnailInput[type="file"]::file-selector-button {
    content: "Select file";
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.thumbnailInput[type="file"]:hover::file-selector-button {
    background-color:#f0f0f0;
}

.thumbnailInput[type="file"]:active::file-selector-button {
    transform: scale(0.95);
}

.uploadForm .uploadArea {
    border:solid 2px red;
    border-radius:6px;
}

.uploadForm input {
    width: 90%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-left: 2.5em;
    border: solid 2px #a0a0a0;
}

.uploadForm .uploadFormOption {
    text-align: center;
    color: black;
    margin-bottom: 0.5em;
    font-size:1.5em;
}

.uploadForm select {
    width: 50%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    border: solid 2px #a0a0a0;
    transform: translate(50%);
}

.uploadForm button {
    width: 50%;
    max-width: 150px;
    height: 2em;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    left: 25%;
    position:relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.uploadForm button:hover {
    background-color: #f0f0f0;
}

.uploadForm button:active {
    transform: scale(0.95);
}

.uploadForm .uploadIcon {
    color: black;
    width: 8em;
    height: 8em;
    margin-bottom: 2em;
    padding-top:1em;
    align-self: center;
    transform: translate(70%);
}

.uploadForm .uploadFormIcon {
    color: black;
    left: 0.7em;
    top: 1.7em;
    position: relative;
}

.uploadForm .uploadFormCloseIcon {
    position: relative;
    left: 20em;
    top:-1em;
    width:1.5em;
    height:1.5em;
    color:black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.uploadForm .uploadFormCloseIcon:hover {
    color:#555;
}

.uploadForm .uploadFormCloseIcon:active {
    transform: scale(0.80);
}

.uploadForm .descriptionArea {
    width: 90%;
    height:auto;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-top:0.5em;
    padding-left: 2.5em;
    border: solid 2px #a0a0a0;
    resize: none;
}

.uploadForm .languageSelect {
    width: 50%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    border: solid 2px #a0a0a0;
    transform: translate(50%);
}

.uploadForm .thumbnailPreview {
    width:8em;
    height:5em;
    border-radius:4px;
}

.uploadForm .clearThumbnailButton {
    position: absolute;
    width: 30%;
    left: 50%;
}

.uploadForm .validationInfo {
    color: red;
    font-size: 0.6em;
    text-align: center;
}

.uploadForm p {
    color: black;
    font-size: 0.6em;
    text-align: center;
}


@media only screen and (max-width: 800px) and (orientation: portrait) {
    .uploadForm {
        width: 100%;
        padding: 6%;
    }

    .uploadForm .uploadIcon {
        width: 30%;
        height: 30%;
        transform: translate(120%);
    }

    .uploadForm .uploadFormCloseIcon {
        left:95%;
    }

    .uploadForm .clearThumbnailButton {
        font-size:0.7em;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .uploadForm {
        width: 100%;
    }

    .uploadForm .uploadArea {
        position:relative;
        left:0.5em;
    }

    .uploadForm input,
    .uploadForm button {
        width: 90%;
    }

    .uploadForm .uploadIcon {
        width: 40%;
    }

    .uploadForm .uploadFormIcon {
        left: 6%;
        top:1.8em;
    }

    .uploadForm .uploadFormCloseIcon {
        left:100%;
    }

    .uploadForm .clearThumbnailButton {
        font-size:0.7em;
    }
}
