.uploadForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 6px;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 5%;
    width: 30%;
    max-width: 300px;
}

.thumbnailInput[type="file"]{
    border: none;
}

.thumbnailInput[type="file"]::file-selector-button {
    content: 'Select file'; 
    display: inline-block;
    background-color: white;
    color: black;  
    padding: 8px 20px; 
    border-radius: 6px;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.thumbnailInput[type="file"]:hover::file-selector-button {
    background: #f0f0f0;
}

.thumbnailInput[type="file"]:active::file-selector-button {
    transform: scale(0.95);
}


.uploadForm input {
    width: 90%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-left:2.5em;
    border: solid 2px #a0a0a0;
}


.uploadForm h2 {
    text-align: center;
    color:black;
    margin-bottom:0.5em;
}

.uploadForm select {
    width: 50%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    border: solid 2px #a0a0a0;
    transform: translate(50%);
}

.uploadForm button {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
}

.uploadForm button:hover {
    background-color: #f0f0f0;
}

.uploadForm button:active {
    transform: scale(0.95);
}

.uploadForm .uploadIcon {
    color:black;
    width:8em;
    height:8em;
    margin-bottom:2em;
    align-self:center;
    transform: translate(70%);
}

.uploadForm .uploadFormIcon {
    color:black;
    left:0.7em;
    top:1.7em;
    position:relative;
}

.uploadForm p {
    color:red;
    font-size:0.7em;
    text-align:center;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .uploadForm {
        width: 90%;
    }

    .uploadForm .uploadIcon {
        width: 40%;
        height: 40%;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .uploadForm {
        width: 30%;
        height: 70%;
    }

    .uploadForm input,
    .uploadForm button {
        width: 60%;
    }

    .uploadForm .uploadIcon {
        width: 40%;
    }

    .uploadForm .uploadFormIcon {
        top:-1%;
        left:10%;
    }

}