.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 6px;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 5%;
    width: 30%;
    max-width: 300px;
}

.loginForm img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 1em;
}

.loginForm a {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin-top: 0%;
    margin-bottom: 1em;
    color: #4949db;
}

.loginForm a:hover {
    text-decoration: underline;
    color: #7474e1;
}

.loginForm input {
    width: 75%;
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    border: solid 2px #a0a0a0;
    padding-left:2.5em;
}

.loginForm .loginMailIcon, .loginForm .loginPassIcon  {
    color:black;
    position:relative;
    left:1.6em;
    top:0.1em;
}

.loginForm p {
    color: black;
    margin-top:-1em;
    margin-bottom:1em;
    text-align:center;
    font-size:0.8em;
}

.loginForm button {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
}

.loginForm button:hover {
    background-color: #f0f0f0;
}

.loginForm button:active {
    transform: scale(0.95);
}

.invalid {
    border: 1px solid red;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .loginForm {
        width: 90%;
    }

    .loginForm img {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .loginForm {
        width: 30%;
        height: 70%;
    }

    .loginForm input,
    .loginForm button {
        width: 60%;
    }

    .loginForm img {
        width: 40%;
    }
}
