.rules {
    height:85vh;
}

.rules .rulesh2{
    width:100%;
    text-align: center;
    font-size:4rem;
}
.rules section
{
    width: 50%;
    margin: 0 auto;
}
.rules ol {
    display: inline-block;
}

.rules ol>li {
    position:relative;
    margin-bottom:0.5em;
}

.rules ul>li {
    position:relative;
    margin-left:0.5em;
}