#UserVideoSection {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    height: 90%;
    color: white;
    background-color: #101b32;
    left: 9%;
    border: inset 2px #060c1a; 
    padding-bottom: 1.5em;
    align-items: flex-start; 
    overflow-y: auto;
}   

#UserVideoSection::-webkit-scrollbar, .similarVideo::-webkit-scrollbar {
    width: 0.2em; 
}

#UserVideoSection::-webkit-scrollbar-track, .similarVideo::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#UserVideoSection::-webkit-scrollbar-thumb, .similarVideo::-webkit-scrollbar-thumb {
    background: #888; 
}

#UserVideoSection::-webkit-scrollbar-thumb:hover, .similarVideo::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#UserVideoSection table {
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed; 
}

#UserVideoSection th,
#UserVideoSection td {
    width: 30%; 
    min-width: 100px; 
    padding: 0.5em; 
    box-sizing: border-box; 
    word-wrap: break-word; 
    font-size: 1em; 
}

#UserVideoSection th {
    font-weight: 600;
}

#UserVideoSection td {
    text-align: center;
}

#UserVideoSection section {
    width: 60%;
    transform: translateX(20%);
}

#UserVideoSection img {
    width:12em;
    height:8em;
}

@media screen and (max-width: 800px) and (orientation: portrait){
    #UserVideoSection {
        width:65%;
        height:95%;
        left: -1%;
        margin-top: 5%;
        padding-bottom: 0;
        align-items: flex-start;
    }
    
    #UserVideoSection th {
        display: block;
        width: 15%;
        padding-left: 0em;
        margin-bottom: 2em;
        font-size:1em;
    }

    #UserVideoSection #VideoHeader {
        margin-bottom:6em;
    }

    #UserVideoSection section {
        left:-15%;
        position:relative;
        height: 9em;
        width: 8em;
        margin-bottom: 2em;
    }

    #UserVideoSection .tdContent {
        left:10%;
        top:-24.8em;
        position:relative;
    }
    
    #UserVideoSection td {
        display: block;
        width:70%;
        margin-bottom: 2em;
        float: right; 
        clear: right; 
        position:relative;
        top:-21em;
        left:2em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #UserVideoSection {
        width: 70%;
        height: 90%;
        left: -5%;
        top: -5%;
        margin-top: 5%;
        padding-bottom: 0;
        align-items: flex-start;
        font-size:0.5em;
    }

    #UserVideoSection section {
        width: 60%;
        height:15em;
        transform: translateX(15%);
    }

    #UserVideoSection td {
        height:12em;
    }

}


