#UserVideoSection {
    flex: 1;
    color: white;
    background-color: #101b32;
    border: inset 2px #060c1a;
    padding-bottom: 1.5em;
    overflow-y: auto;
    margin-top:2%;
    max-height: 100vh;
}

#UserVideoSection::-webkit-scrollbar, .similarVideo::-webkit-scrollbar {
    width: 0.2em; 
}

#UserVideoSection::-webkit-scrollbar-track, .similarVideo::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#UserVideoSection::-webkit-scrollbar-thumb, .similarVideo::-webkit-scrollbar-thumb {
    background: #888; 
}

#UserVideoSection::-webkit-scrollbar-thumb:hover, .similarVideo::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#UserVideoSection table {
    width: 95%;
    margin: 0;
    padding: 0;
    table-layout: fixed; 
    border-collapse: collapse;
}

#UserVideoSection th,
#UserVideoSection td {
    width: 30%; 
    min-width: 100px; 
    padding: 0.5em; 
    box-sizing: border-box; 
    word-wrap: break-word; 
    font-size: 1em; 
}

#UserVideoSection th {
    font-weight: 600;
}

#UserVideoSection td {
    text-align: center;
}

#UserVideoSection tbody tr {
    border-top:solid 1px grey;
    transition: background-color 0.3s ease
}

#UserVideoSection tbody tr:hover {
    background-color: #0e182c;
}

#UserVideoSection section {
    width: 60%;
    transform: translateX(20%);
}

#UserVideoSection img {
    width:10em;
    height:6em;
    border-radius:4px;
}

.tableRow {
    position: relative;
}

.actionCell {
    position: relative;
}

.userVideoIcon {
    cursor: pointer;
    visibility: hidden;
    width:1.2em;
    height:1.2em;
    padding:1em;
}

.userVideoIcon:hover {
    color:lightgrey;
    transition: color 0.3s ease; 
}

.tableRow:hover .userVideoIcon {
    visibility: visible;
}

.buttonsContainer {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: 0;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    right:-1em;
    top:2.5em;
}

.buttonsContainer button{
    display:block;
    text-align:center;
    width: 7em;
    height: 2em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: none;
    background-color: white;
    text-align: center;
}

.buttonsContainer button:hover{
    background-color: #f0f0f0;
}

.buttonsContainer button:active{
    transform: scale(0.90);
}

.menuVisible {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

.editVideoMenu {
    position: relative;
    display: inline-block;
}

@media screen and (max-width: 800px) and (orientation: portrait){
    #UserVideoSection {
        width:70%;
        left:-3%;
        display:block;
        font-size:0.8em;
    }

    #UserVideoSection section {
        width: 60%;
        height:15em;
        transform: translateX(15%);
    }

    #UserVideoSection table {
        width:300%;
    }

    #UserVideoSection img {
        width:6em;
        height:4em;
    }
    

}

@media screen and (max-width: 800px) and (orientation: landscape){
    #UserVideoSection {
        width: 80%;
        height: 90%;
        left: -1%;
        top: -5%;
        margin-top: 5%;
        padding-bottom: 0;
        align-items: flex-start;
        font-size:0.5em;
        overflow-x: hidden;
    }

    #UserVideoSection section {
        width: 60%;
        height:15em;
        transform: translateX(15%);
    }

    #UserVideoSection td {
        height:12em;
    }

}


