#Popular {
    position: absolute;
    top: 10%; 
    width: 90%; 
}

#Popular p {
    padding-top:0.5em;
}

#Popular a {
    color:white;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

#Popular a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

#Popular ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1.5em; 
    list-style: none; 
}

#Popular li {
    width: auto; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 300ms ease;
}

#Popular li:hover {
    cursor: pointer;
}

#Popular li:active {
    transform: scale(0.95);
}

#Popular h1 {
    margin-top:0.5em;
    margin-bottom:0.5em;
    font-weight:600;
    text-align:center;
}

#Popular img {
    width:2.5em;
    height:2.5em;
    border-radius: 50%;
    overflow: hidden;
}


@media screen and (max-width: 800px) and (orientation: portrait){
    #Popular {
        position: absolute;
        top: 8%; 
        width: 95%; 
    }

    #Popular li {
        width: auto; 
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Popular ul {
        display: flex;
        flex-wrap: wrap; 
        gap: 1.5em; 
        list-style: none; 
    }

    #Popular img {
        width:1em;
        height:1em;
    }

    #Popular p {
        padding-top:0.5em;
        font-size:0.5em;
    }

    #Popular h1 {
        margin-top:0.5em;
        margin-bottom:0.5em;
        font-weight:600;
        font-size:1em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #Popular {
        position: absolute;
        top: 10%; 
        width: 95%; 
    }

    #Popular li {
        width: auto; 
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Popular ul {
        display: flex;
        flex-wrap: wrap; 
        gap: 1.5em; 
        list-style: none; 
    }

    #Popular img {
        width:1em;
        height:1em;
    }

    #Popular p {
        padding-top:0.5em;
        font-size:0.5em;
    }

    #Popular h1 {
        margin-top:0.5em;
        margin-bottom:0.5em;
        font-weight:600;
        font-size:1em;
    }
}

