section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: #f4f4f4;
    width: 15%; /* Zmiana jednostki na procentową */
    height: 35%; /* Zmiana jednostki na procentową */
    color: black;
    text-align: left;
}

#video {
    width: 100%; /* Zmiana jednostki na procentową */
    height: 95%; /* Automatyczne skalowanie proporcji */
}

iframe {
    width: 118%;
    left:-10%; /* Zmiana jednostki na procentową */
    height: 75%; /* Możesz dostosować do swoich potrzeb */
    top:-13%;
    position: relative;
}

section:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

section:active {
    transform: scale(0.95);
}

#title,
#author,
#views,
#date,
#likes {
    font-size: 0.7em; /* Zmiana jednostki na procentową */
    position:relative;
    top:-10%;
    left:-5%;
}

#title {
    font-weight: 700;
}

#author {
    font-weight: 400;
}

#views {
    font-weight: 400;
    float: right;
}

#date {
    font-weight: 400;
}

#likes {
    font-weight: 400;
    float: right;
}

@media screen and (max-width: 800px) and (orientation: portrait){
    section {
        height:9em;
        margin-bottom:-5em;
        margin-top:-6em;
    }

    #video {
        width: 9em;
        height: 9em;
    }

    iframe {
        width:95%;
        height:70%;
    }

    #title, #author, #views, #date, #likes {
        font-size:0.5em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    section {
        height:80%;
    }


    #video {
        width: 12em;
        height: 12em;
    }

    iframe {
        width:99%;
        height:70%;
    }

    #title, #author, #views, #date, #likes {
        font-size:0.5em;
    }
}
