.videoSection {
    justify-content: center;
    display:inline-block;
    align-items: center;
    font-size: 0.7em; 
    margin: 1em;
    background-color: #0c1529;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 15%; 
    height: 15%; 
    text-align: left;
    border-radius:6px;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.videoSection:hover {
    background-color: #0e182c;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.videoSection:active {
    transform: scale(0.95);
}

#video {
    width: 100%; 
    height: 79%; 
}

.videoStat {
    width:100%;
    position:relative;
    top:-10%;
    padding-top:0.5em;
    color:white;
}

.thumbnailContainer {
    background-color: grey;
    position: relative;
}

.thumbnail {
    position: absolute;
    opacity: 0;
    width: 100%; 
    height: 18vh;
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: border-radius 1s ease;
}

.thumbnail:hover {
    border-radius: 0;
}

.thumbnail.loaded {
    opacity: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clipLoader {
    color: #000;
}

.videoInfo {
    font-weight: 400;
    position:relative;
    top:-10%;
    padding-left: 1em;
    color:white;
}

#title p {
    font-weight: 700;
}

#views, #likes {
    float: right;
    padding-right: 1em;
}

@media screen and (max-width: 800px) and (orientation: portrait){
    .videoSection {
        width:27%;
        height:12%;
        margin-bottom:-4em;
    }

    #video {
        width: 100%;
        height: 60%;
    }

    .thumbnail {
        position: absolute;
        opacity: 0;
        width: 100%; 
        height: 9vh;
    }

    .videoStat {
        font-size:0.5em;
        top:5%;
    }

    
}

@media screen and (max-width: 800px) and (orientation: landscape){
    .videoSection {
        height:30%;
    }

    #video {
        width: 100%;
        height: 40%;
    }

    .videoStat {
        position:relative;
        top:25%;
    }

    .videoInfo {
        font-size:0.6em;
    }

    .thumbnail {
        position: absolute;
        opacity: 0;
        width: 100%; 
        height: 17vh;
    }
}
