.borderShop {
    width: 90%;
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    list-style: none;
    margin: 0 auto;
}

.borderShop h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px grey;
    text-align: center;
}

.borderShop ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.borderShop li {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 90%;
    left:5%;
    margin-bottom: 1em;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #111d36;
    border:solid 2px #0f1b33;
}

.borderShop li:hover {
    cursor: pointer;
    background-color: #0e182c;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.borderContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}

.border {
    width: 15em;
    height: 12em;
    z-index: 2;
    position: relative;
}

.avatar {
    position: absolute;
    top: 50%;
    transform: translate(35%, -50%);
    width: 9.2em;
    height: 9.7em;
    border-radius: 50%;
    z-index: 1;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;
    margin-top: -1em;
}

.shopIcon {
    padding-right:1em;
}

.borderShop p {
    font-size:1.5em;
    margin-bottom: 1em;
}

.borderShop button {
    display: block;
    text-align: center;
    width: 7em;
    height: 2em;
    font-size:1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border: none;
    background-color: rgb(15, 172, 15);
    color:white;
    border-radius: 5px;
    border: solid 2px #a0a0a0;
    margin-bottom: 1em;
}

.borderShop button:hover {
    background-color: rgb(43, 187, 43);
}

.borderShop button:active {
    transform: scale(0.90);
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .borderShop li {
        width: 90%;
    }

    .border {
        width: 7em;
        height: 5em;
    }

    .avatar
    {
        width:4.3em;
        height:4em;
    }

    .infoContainer {
        margin-top:0;
    }

    .infoContainer p {
        font-size:0.8em;
    }

    .infoContainer button {
        font-size:0.5em;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .borderShop li {
        width: 90%;
    }

    .border {
        width: 9em;
        height: 7em;
    }

    .avatar
    {
        width:5.4em;
        height:5.6em;
    }

    .infoContainer {
        margin-top:0;
    }

    .infoContainer p {
        font-size:1em;
    }

    .infoContainer button {
        font-size:0.8em;
    }
}
