#videoSection {
    background-color: #101b32;
    border-top: inset 2px #060c1a; 
    border-bottom: inset 2px #060c1a; 
    overflow-y: auto;
    padding-top: 2em;
    padding-left: 2em;
    height:55vh;
}

.videoSectionList
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.videoSectionHContainer
{
    height:5% !important;
}

.videoSectionH {
    width: 20%;
    height:5%;
    color: white;
    margin-left: 0.5em;
    font-weight: 600;
    z-index: 1; 
}

#videoSection> *:not(h2) {
    flex: 0 0 calc(18%);
    margin-right: 2em;
    height: 40%; 
}

.similarVideo {
    display:flex;
    flex-direction: column;
    height:90%;
}

.similarVideo  #video {
    background-color: #0c1529;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1em;
    color:white;
    width:80%;
    border-radius:6px;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom:1em;
}

.similarVideo  #video:hover {
    background-color: #0e182c;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.similarVideo  #video:active {
    transform: scale(0.95);
}

.similarVideo #video img {
    width: 100%; 
    height: 18vh;
    position: relative;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    transition: border-radius 1s ease;
}

.similarVideo #video img:hover {
    border-radius: 0;
}

.similarVideo #video p {
    font-size:0.8em;
    padding-top:0.5em;
    padding-left:0.5em;
}

.similarVideo #video .videoTitle {
    font-size:0.9em;
    font-weight: 700;
}


#videoSection::-webkit-scrollbar, .similarVideo::-webkit-scrollbar {
    width: 0.2em; 
}

#videoSection::-webkit-scrollbar-track, .similarVideo::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#videoSection::-webkit-scrollbar-thumb, .similarVideo::-webkit-scrollbar-thumb {
    background: #888; 
}

#videoSection::-webkit-scrollbar-thumb:hover, .similarVideo::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.adminButton {
    width: 10em;
    height: 2.5em;
    font-size: 0.8em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px white;
    background-color: white;
    border-radius: 15px;
    border:none;
}

.adminButton:hover {
    background-color: transparent !important;
    color: white;
    text-decoration: underline;
}

.adminButton:active {
    transform: scale(0.95);
}

.removeUserIcon
{
    padding-right:0.5em;
}


@media screen and (max-width: 800px) and (orientation: portrait){
    h2 {
        font-size:1.3em;
    }

    #video img{
        height:7vh;
        width:10vh;
    }

    .similarVideo {
        height:25vh;
        width:100%;
        overflow-y:auto;
        top:3em;
        position:relative;
    }
    
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #videoSection {
        height:40vh;
    }

    h2 {
        font-size:1em;
    }

    .similarVideo {
        height:90vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .similarVideo #video {
        width:100%
    }
    
}