#videoSection {
    display: flex;
    position:relative;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    color: black;
    background-color: #101b32;
    left:5%;
    border: inset 2px #060c1a; 
    padding-bottom:1em;
    padding-right:1em;
}

h2 {
    position: absolute;
    top: -1.5em;
    left: 0;
    width: 100%;
    color: white;
    margin: 0;
}


@media screen and (max-width: 800px) and (orientation: portrait){
    #videoSection {
        width: 10em;
        height:85em;
        left: 5%;
        top:1em;
        margin-top:5%;
        padding-bottom:0;
    }

    h2 {
        font-size:1em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #videoSection {
        width: 60%;
        height:50%;
        left: 5%;
        top:5%;
        margin-top:3%;
        padding-bottom:0;
        padding-right:0;
    }

    h2 {
        font-size:1em;
    }
}