#videoSection {
    display: flex;
    position:relative;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    color: black;
    left:5%;
    top:-10%;
    border: ridge 2px #060c1a;
}

h2 {
    position: relative;
    width: 100%;
    color:white;
}


@media screen and (max-width: 800px) and (orientation: portrait){
    #videoSection {
        width: 50%;
        height:50%;
        left: 5%;
        top:5%;
        margin-top:5%;
    }

    h2 {
        font-size:1em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape){
    #videoSection {
        width: 50%;
        height:50%;
        left: 5%;
        top:5%;
        margin-top:3%;
    }

    h2 {
        font-size:1em;
    }
}