.resetPage {
    height:95vh;
}

.resetForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    background-color: rgba(229, 229, 229, 0.8);
    padding: 5%;
    width: 30%;
    max-width: 300px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.resetForm input {
    width: 80%;
    height: 3em;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-left:2.5em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background:transparent;
    color:black;
    font-size:1em;
}

.floatingInput {
    width: 100%;
    height: 2.5em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: black;
    font-size: 1em;
    padding-left: 2.5em;
    z-index: 999;
}

.floatingInput::placeholder {
    transition: all 0.3s ease;
}

.floatingInput:focus::placeholder {
    color: #999;
    transform: translateX(-2em) translateY(-1em) scale(0.8);
}

.resetForm button {
    width: 60%;
    height: 2.5em;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top:1em;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    border: solid 2px #a0a0a0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.resetForm h1 {
    color:black;
    text-align:center;
    margin-bottom:1em;
    font-size:1.5em;
}

.resetForm .resetPassIcon {
    color:black;
    position:relative;
    left:1.6em;
    top:0;
}

.resetForm button:hover {
    background-color: #f0f0f0;
}

.resetForm button:active {
    transform: scale(0.95);
}

.invalid {
    border: 1px solid red;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .resetForm {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .resetForm {
        width: 30%;
        height: 70%;
    }

    .resetForm input,
    .resetForm button {
        width: 60%;
    }

    .resetForm .resetPassIcon {
        top:-1%;
        left:10%;
    }
}
