.searchResultsDiv {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 73.5%;
    height: 73%;
    top:10%;
    left: 10%;
    padding-bottom: 1em;
    padding-right: 1em;
    transform: translate(20%, 5%);
    overflow-y: auto;
}

.searchResultsDiv ul {
    list-style-type: none;
    position:relative;
    left:-20%;
    width:50%;
}

.searchResultsDiv li {
    margin-bottom: 1em; 
    display:flex;
}

.searchResultsDiv section {
    width:50%;
    height:30vh;    
}

.searchResultsDiv h2 {
    margin-bottom:1em;
}

.searchResultsDiv .thumbnailContainer{
    width:18em;
}

.searchResultsDiv .thumbnailContainer .thumbnail{
    width:100%;
    height:17vh;
}

.searchResultsDiv .videoInfo {
    color:white;
    padding-left: 1em;
    width:200%;
}

.searchResultsDiv::-webkit-scrollbar {
    width: 0.2em; 
}

.searchResultsDiv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.searchResultsDiv::-webkit-scrollbar-thumb {
    background: #888; 
}

.searchResultsDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}