.searchResultsDiv {
    display: flex;
    position: absolute;
    align-items: center;
    flex-wrap: wrap;
    width: 73.5%;
    height: 73%;
    top:10%;
    left: 10%;
    padding-bottom: 1em;
    padding-right: 1em;
    transform: translate(20%, 5%);
    overflow-y: auto;
}

.searchResultsDiv section {
    width:25%;
}

.searchResultsDiv::-webkit-scrollbar {
    width: 0.2em; 
}

.searchResultsDiv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.searchResultsDiv::-webkit-scrollbar-thumb {
    background: #888; 
}

.searchResultsDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}